.play-area-container {
  margin-top: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.play-area {
  display: flex;
  height: 720px;
  width: 720px;
  border: 3px solid #000;
}
